__pycache__/
*.py[cod]
*.pyc
.Python
venv/
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
nohup.out
pip-log.txt
pip-delete-this-directory.txt
cover/
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.mo
.mr.developer.cfg
.project
.pydevproject
.ropeproject
*.log
*.pot
*.err
*.out
docs/_build/
.idea/
*.ipr
*.iws
*.iml
out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
.DS_Store
.AppleDouble
.LSOverride
.nohup.out
test/data/temp_results/
testworkflow/
testworkflow*
\#*
*.xvg.*
mdout.mdp
traj_comp.xtc
.ipynb_checkpoints
*.bk
!biobb_vs/test/reference/vina/*.log
biobb_vs/docs/jupyter/data
biobb_vs/docs/jupyter/log.*
biobb_vs/docs/jupyter/*.xpm
biobb_vs/docs/jupyter/*.xvg
biobb_vs/docs/jupyter/.ipynb_checkpoints/
biobb_vs/vina/vina_prepare_ligand.py
biobb_vs/vina/vina_prepare_receptor.py
biobb_vs/test/unitests/test_vina/test_vina_prepare_ligand.py
biobb_vs/test/unitests/test_vina/test_vina_prepare_receptor.py
biobb_vs/test/data/vina/prepare_ligand.pdb
biobb_vs/test/data/vina/prepare_receptor.pdb
biobb_vs/test/reference/vina/ref_prepare_ligand.pdbqt
biobb_vs/test/reference/vina/ref_prepare_receptor.pdbqt
biobb_vs/tutorial/*/*.pdb
biobb_vs/tutorial/*/*.pdbqt
biobb_vs/tutorial/*/*.pqr
biobb_vs/tutorial/*/*.zip
biobb_vs/tutorial/*/*.sdf
biobb_vs/tutorial/*/*.json
biobb_vs/tutorial/*/pockets/
*_out/# Genbadge reports
reports/
flake8-badge.svg
.pytest_cache/
.pytest_cache
!ref_*.log
.idea
.vscode
.mypy_cache/
